html {
    height: 100%;
    width: 100%;
    background-color: #edede9;
}

h1 {
    color: #2E3331;
}

a {
    text-decoration: none;
    color: #2E3331;
}

nav {
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0%;
}

nav ul li {
    display: inline-block;
    gap: 10px;
    list-style-type: none;
    color: #2E3331;
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: #2E3331;
}

nav a:hover {
    background-color: #E9FF32;
    transform: scale(1.5);
}

#socialflexbox {
    display: flex;
    color: #2E3331;
    gap: 10px;
}

#resumelink {
    color: #075dbf;
    text-decoration: underline dotted red;
}

.technicalskill {
    display: flex;
    color: #2E3331;
    gap: 10px;
}